* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: underline;
    text-decoration-color: #5B8DB8;
}
h1 {
    background-color: #1A2A4A;
    color: white;
    text-align: center;
}
h2 {
    color: #1A2A4A;
}
body {
    background-color: #F0F2F5
}
li {
    margin-left: 20px;
}

.Education {
    background-color: #FFFFFF;
    float: left;
    width: 100%;
    padding: 10px;
    margin: 5px;
    text-align: left;
    border: 1px solid #5B8DB8;
}

.Skills {
    background-color: #FFFFFF;
    float: left;
    width: 100%;
    padding: 10px;
    margin: 5px;
    text-align: left;
    border: 1px solid #5B8DB8;
    li{
        margin: 10px;
    }
}
.WorkExperience {
    background-color: #FFFFFF;
    float: left;
    width: 100%;
    padding: 10px;
    margin: 5px;
    text-align: left;
    border: 1px solid #5B8DB8;
    .JobDescription{
        margin-left: 20px;
    }
    .Job1{
        background-color:#EEF2F7;
        border: 1px solid #5B8DB8;
        margin: 10px;
        padding : 5px;
    }
    .Job2{
        background-color:#EEF2F7;
        border: 1px solid #5B8DB8;
        margin: 10px;
        padding : 5px;
    }
    .Job3{
        background-color:#EEF2F7;
        border: 1px solid #5B8DB8;
        margin: 10px;
        padding : 5px;
    }
}

.Projects {
    background-color: #FFFFFF;
    float: left;
    width: 100%;
    padding: 10px;
    margin: 5px;
    text-align: left;
    border: 1px solid #5B8DB8;
    li{
        margin-left: 40px;
        padding: 2px;
    }
    .Project{
        padding: 10px;
        background-color:#EEF2F7;
        border: 1px solid #5B8DB8;
        margin: 10px;
        a:visited{
                color: #0000FF;
            }
        a:hover{
            color: #059be6;
        }
    
        .links{
            padding: 5px;
            font-size: fit-content;
            button{
                background-color: #1f6aac;
                color: white;
                border: none;
                padding: 10px 20px;
                cursor: pointer;
                border-radius: 5px;
                width: 50%;
            }
            button:hover{
                background-color: #059be6;
            }
            button:active{
                background-color: #1313bc;
            }
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}